

* {
   box-sizing: border-box; 
}
body {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.header {
	padding: 20px 70px 20px 32px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: #fff;
}
.menu-button {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	width: 20px;
	height: 17px;
	border: none;
	margin-right: 28px;
	cursor: pointer;
}
.menu-line {
	display: block;
	width: 20px;
	height: 3px;
	background-color: #1F2022;
	border-radius: 20px;
}
.logo {
	margin-right: 59px;
}
.input-group {
	border-radius: 22px;
	background: #EBEBEB;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 17px;
	max-width: 830px;
	width: 50%;
}
.input-search {
	background-color: transparent;
	border: none;
	margin: 12px 23px;
	width: 100%;
}
.button-search {
	/*padding: 0;*/
	width: 19px;
	height: 19px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.icon-search {
	fill: #000;
}
.icons-link {
	text-decoration: none;
	opacity: 0.24;
}
.icons-link:hover {
	opacity: 0.7;
}
.icons-link:not(:last-child) {
	margin-right: 50px;
}
.user {
	margin-left: 45px;
}
.user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;	
}
.sidebar {
	position: fixed;
	width: 14%;
	left: 0;
	top: 114px;
	height: calc(100% - 114px);
	overflow-y: auto;
	background-color: #fff;

	padding-left: 32px;
}
.content {
	width: 100%;
	height: 800px;
	margin-top: 85px;
	padding-left: 16%;
	padding-top: 30px;
}
.nav-menu {
	margin: 0 0 60px;
	padding-left: 0;
	list-style: none;
}
.nav-item {
	margin-bottom: 28px;	
}
.nav-link {
	display: flex;
	align-items: center;
	color: #898989;
	text-decoration: none;
}
.nav-link:hover {
	color: #FF0000;
}
.nav-link:hover .icon {
	fill: #FF0000;
}
.nav-item .icon {
	fill: #898989;
}
.nav-text {
	margin-left: 15px;
}
.nav-image {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}
.nav-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 30px;
}

.channel {
	position: relative;
	margin-bottom: 49px;
}
.channel-title {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #19202C;
	font-style: bold;
	font-size: 26px;
	line-height: 33px;
	margin-bottom: 30px;
}
.channel-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.channel-text {
	margin-left: 20px;
}

/*Slide*/
.video-card {
	width: 250px;
}
.video-thumb {
	width: 250px;
	height: 150px;
	overflow: hidden;
	border-radius: 14px;
	position: relative;
}
.thumbnail {
	width: 250px;
	height: 150px;
	object-fit: cover;
}
.video-duration {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	padding: 3px 9px;
}
.video-title {
	font-style: bold;
	font-size: 16px;
	line-height: 20px;
	color: #19202C;
	margin: 10px 0 4px;
}
.video-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	line-height: 16px;
	color: #C2C2C2;
}
.video-views {
	margin-right: 5px;
}
.video-views:after {
	content: '';
	width: 2px;
	height: 2px;
	background-color: #C2C2C2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.channel-button {
	cursor: pointer;
}
.slider-buttons {
	position: absolute;
	top: 15px;
	right: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 66px;
}